<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Product App</title>

    <link rel="stylesheet" href="/scss/app.css">

</head>
<body>

    <nav class="nav-bar"></nav>

    <main id="app">

        <div class="product-grid">

            <div class="product-image">
                <img :src="image" alt="socks">
            </div>
    
            <div class="product-info">
                <h1>{{ product }}</h1>
                <p v-if="inventory > 10">In Stock</p>
                <p v-else-if="inventory <= 10 && inventory > 0">We only have {{ inventory }} left, hurry to secure yours</p>
                <p v-else>Out of Stock</p>

                <ul>
                    <li v-for="info in information">{{ info }}</li>
                </ul>

                <div v-for="variant in variants" 
                     :key="variant.variantId"
                     class="color-box"
                     :style="{backgroundColor: variant.variantColor}"
                     @mouseover="updateProduct(variant.variantImage)"
                     >
                </div>

                <button @click="addToCart">Add to cart</button>
                <button @click="removeFromCart" 
                >Remove from cart</button>

                <div class="cart">
                    <p>Cart({{cart}})</p>
                </div>

            </div>

        </div>

    </main>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="app.js"></script>
</body>
</html>