button {
    padding: 2% 8%;
    margin: 4% 0;
    background-image: linear-gradient(to right, aquamarine, lightpink);
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}

.color-box {
    width: 40px;
    height: 40px;
    margin-top: 4%;
}