@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
}

h1 {
    font-size: 2em;
    font-weight: 700;
}